.card{
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.login-card{
    width:300px;
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:#273c75;
    color:white;
    border:none;
    cursor:pointer;
}

.badge{
    float:right;
    padding:5px 10px;
    border-radius:6px;
    color:white;
}

.pending{
    background:orange;
}

.done{
    background:green;
}
